<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <style>
        input {
            display: block
        }
    </style>
</head>

<body>
    <h1>Controlled Prescriptions</h1>
    <form method="POST" action="/calculator">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
        {{ x | safe}}
        <h2>{{ earliest }}</h2>
    </form>

</body>

</html>