<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>California Medicaid (Medi-Cal) - Code 1 Formulary</h1>
<!--{'drug_name': 'ZIDOVUDINE 10 MG/ML SYRUP', 'restricted': 'Restricted to use as combination therapy in the treatment of Human Immunodeficiency Virus (HIV) infection. ', 'code': 'mfg codes:49702', 'other': 'RETROVIR'},-->
{% for x in medicaid %}
{% if 'restricted' in x %}
<h4>{{x.drug_name }}</h4>
<p>{{x.restricted}}</p>
{% endif %}
{% endfor %}
<!--<h2>{{ key.0.name}}</h2>-->
</body>
</html>